nasa-database-scheduler/scheduler.json
{
  "name": "Schedule Trigger Nasa",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtHour": 9,
              "triggerAtMinute": 30
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "fa071739-674f-4dd2-ab17-ab5792977813",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "resource": "donkiSolarFlare",
        "additionalFields": {
          "startDate": "={{ $today.minus(15, \"days\") }}"
        }
      },
      "type": "n8n-nodes-base.nasa",
      "typeVersion": 1,
      "position": [
        208,
        0
      ],
      "id": "636d46ed-cc68-4eba-b6d3-1ea1d0948319",
      "name": "Get a DONKI solar flare",
      "credentials": {
        "nasaApi": {
          "id": "Qm4l9TvuGFlMwHyX",
          "name": "NASA account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "320ad0a8-85e9-44b1-bdcd-6c33411df5c2",
              "leftValue": "={{ $json.classType }}",
              "rightValue": "X",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        416,
        0
      ],
      "id": "74968a08-cdef-42f0-8215-126b4e26f210",
      "name": "If"
    },
    {
      "parameters": {
        "resource": "request",
        "operation": "send",
        "binId": "1755873077833-8883986577857",
        "binContent": "=There was a solar flare of class {{$json[\"classType\"]}}",
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.postBin",
      "typeVersion": 1,
      "position": [
        624,
        -96
      ],
      "id": "3190f83f-b181-44af-bd48-ad743c7b3200",
      "name": "Send a request"
    },
    {
      "parameters": {
        "resource": "request",
        "operation": "send",
        "binId": "1755873077833-8883986577857",
        "binContent": "=There was a solar flare of class {{$json[\"classType\"]}}",
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.postBin",
      "typeVersion": 1,
      "position": [
        624,
        96
      ],
      "id": "40cfdfeb-3fe2-4eac-b761-28bfa98bef62",
      "name": "Send a request1"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get a DONKI solar flare",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a DONKI solar flare": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Send a request",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "cc320942-2434-45d6-8800-4cdc54ec2cd4",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a51078c272e8670db36974371a5dd96d89ce4b408304b1b176fc3c813f7d4aa0"
  },
  "id": "hoFC3s7Og53C2fEs",
  "tags": []
}
